@charset "utf-8";

html,body{
    width: 100%;
    height:auto;
    overflow-x:hidden;
}

/*스크롤바 제거및 생성*/
html.active{
    overflow: hidden;
}

/*스크롤바 모양변경*/
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 10px 5px #ddd;
}

::-webkit-scrollbar-thumb {
    background-color:#5F4B8B;
    border-radius: 10px;
}
.wrapper{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 1000px;
  background: #343434;
}
.content{
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translateZ(-100vw)
 }
.content .list{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.content h1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 5em;
}
.left {
  perspective-origin: left;
  transform: rotateY(90deg) translateZ(-50vw);
  /* background: #333; */
}
.right {
  transform: rotateY(90deg) translateZ(-40vw);
  /* background: #444; */
}

/*
@charset "utf-8";

body{
  width: 100vw;
  height: 100vh;
}
.s1{
  position: relative;
  width: 80%;
  margin: auto;
  height: 100%;
}
article{
  margin: auto;
  width: 50%;
  max-width: 150px;
  height: 200px;
  border: 1px solid yellow;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.a1{
  transform: perspective(600px) rotateY(-40deg) translateZ(200px);
}
.a2{
  transform: perspective(600px) rotateY(-40deg) translateZ(160px);
}
.a3{
  transform: perspective(600px) rotateY(-40deg) translateZ(120px);
}
.a4{
  transform: perspective(600px) rotateY(-40deg) translateZ(80px);
}
.a5{
  transform: perspective(600px) rotateY(-40deg) translateZ(40px);
}
.a6{
  transform: perspective(600px) rotateY(-40deg) translateZ(0px);
}
.a7{
  transform: perspective(600px) rotateY(-40deg) translateZ(-40px);
}
.a8{
  transform: perspective(600px) rotateY(-40deg) translateZ(-80px);
}
.a9{
  transform: perspective(600px) rotateY(-40deg) translateZ(-120px);
}
.a10{
    transform: perspective(600px) rotateY(-40deg) translateZ(-160px);
}
article:hover{
      transform: translateY(40px);
}

/* .s1{
  width: 80vw;
  margin: auto;
}
.perspective{
  perspective: 600px;
  transform-style: preserve-3d;
}

.s1 article{
  margin: auto;
  border: 2px solid yellow;
  position: absolute;
  width: 180px;
  height: 180px;
  background: #333;
  transform: perspective(500px) rotateY(-45deg);
}

.s{
  transform: translateZ(100px);
} */



*/
